<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Robots</title>
  </head>
  <body>
    <form class="" action="/users/newRobot" method="post">
      <input type="text" name="address_city" placeholder="City" value="">
      <input type="text" name="address_country" placeholder="Country"value="">
      <input type="text" name="avatar" placeholder="Input Image Here"value="">
      <input type="text" name="company" placeholder="Company" value="">
      <input type="email" name="email" placeholder="Email" value="">
      <input type="text" name="job" placeholder="Job" value="">
      <input type="text" name="name" placeholder="Name" value="">
      <input type="tel" name="phone" placeholder="Phone Number"value="">
      <label for="">Skills</label>
      <div>
        <input type="checkbox" name="skills" value="programming">
        <label for="">Programming</label>
      </div>
      <div>
        <input type="checkbox" name="skills" value="repetitive-tasks">
        <label for="">Repetitive Tasks</label>
      </div>
      <div>
        <input type="checkbox" name="skills" value="following-instructions">
        <label for="">Following Instructions</label>
      </div>
      <div>
        <input type="checkbox" name="skills" value="attention-to-detail">
        <label for="">Atention to Detail</label>
      </div>
      <input type="text" name="university" placeholder="University" value="">
      <input type="text" name="username" placeholder="Username" value="">
      <button type="submit" name="button">ROBOT SUBMIT</button>
    </form>
  </body>
</html>
